<%
const pageData = {
	page_url: `${site.url}`,
	title: 'aa',
	description: 'aa',
	isNoindex: false,
	css: [],
	js: []
}
%>
<%- include(`${site.fullpath.views}/components/layouts/_head`, {page: pageData}) %>

	<header class="cmn-header">
		header
	</header>

	<div class="top-contents">
		<div id="app">
			<p>site.url: <%= site.url %></p>
			<Alert />
		</div>
	</div>

	<footer class="cmn-footer">
		footer
	</footer>

<%- include(`${site.fullpath.views}/components/layouts/_footer`, {page: pageData}) %>