<%- include(`${site.fullpath.views}/components/layouts/_head`) %>

	<header>
		header
	</header>

	<div class="top-contents">
		<div id="app">
			<Alert />
		</div>
	</div>

	<footer>
		footer
	</footer>

<%- include(`${site.fullpath.views}/components/layouts/_footer`) %>