html {
	height: 100%;
	box-sizing: border-box;
	font-size: $font-size-base + px;
}

*, *:before, *:after {
	box-sizing: inherit;
}

a {
	color: $link-color;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

body {
	font-family: $font-family;
	background: $body-bg;
	color: $text-color-main;
	line-height: $line-height-base;
	height: 100%;
	overflow-x: hidden;
	-webkit-text-size-adjust: 100%;

	@include min-screen($breakpoint-tablet){
		display: flex;
		flex-direction: column;
	}
}

.cmn-header {
	padding: 4.6875%;
	background: #000;
	color: #fff;
	@include min-screen($breakpoint-tablet){
		padding: 20px;
	}
}

.cmn-footer {
	padding: 4.6875%;
	background: #000;
	color: #fff;
	@include min-screen($breakpoint-tablet){
		padding: 20px;
	}
}
