<%- include(`${site.fullpath.views}/components/layouts/_head`) %>

	<header>
		header
	</header>

	<div class="about-contents">
		about
	</div>

	<footer>
		footer
	</footer>

<%- include(`${site.fullpath.views}/components/layouts/_footer`) %>